.day-list {
  background-color: #F2F4F5;
  min-width: 500px;
  margin: 10px;
}

.day-list:last-child {
  margin-left: 0;
}

.day-header {
  padding: 10px 0 30px 10px;
  background-color: white;
}

.day-header h1 {
  color: #071584;
  margin-bottom: 5px;
}

.day-header p {
  color: grey;
  font-weight: 300;
  font-size: 1.1rem;
}

.completed-barrier {
  background: #F2F4F5;
  display: flex;
  justify-content: space-between;
}

.show-completed {
  display: none;
}

.border-ctn {
  width: 40%;
  min-height: 50px;
}

.dashed-border-top {
  border-bottom: 1px dashed grey;
  min-height: 25px;
}

.dashed-border-bottom {
  min-height: 25px;
}

.completed-text-border {
  align-self: center;
  font-size: 1rem;
  font-style: italic;
  color: grey;
}

.left-dashed-border {
  padding-left: 20px;
}

.right-dashed-border {
  padding-right: 20px;
}