.login-wrapper {
  width: 350px;
}

.login-form label, p {
  color: #414141;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form label {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.login-form input {
  border-radius: 2px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1.4rem;
}

.login-wrapper button {
  padding: 12px 0;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}

.login-form button {
  background-color: black;
  border: 1px solid black;
  color: white;
}

.login-form button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.create-account-btn {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 20px;
}

.create-account-btn:hover {
  background-color: black;
  color: white;
}

.login-wrapper p {
  font-size: 1rem;
  text-align: center;
  color: #898989;
}