body {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 1px;
}

.create-task-btn {
  border: none;
  color: #7857ff;
  width: 100%;
  padding: 30px;
  background-color: #f6f8ff;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  &:hover {
    font-weight: bold;
  }
}
