.day-list {
  background-color: #f2f4f5;
  height: 100%;
  min-width: 500px;
  margin: 10px 10px 50px 0;
  @media (max-width: 1000px) {
    min-width: unset;
  }
  &:last-child {
    margin-left: 0;
    @media (max-width: 1000px) {
      margin-left: 10px;
    }
  }

  .day-header {
    padding: 10px 0 30px 10px;
    background-color: white;
    h1 {
      color: #071584;
      margin-bottom: 5px;
    }
    p {
      color: grey;
      font-weight: 300;
      font-size: 1.1rem;
    }
  }
}

.completed-barrier {
  background: #f2f4f5;
  display: flex;
  justify-content: space-between;
  .left-dashed-border {
    padding-left: 20px;
  }

  .right-dashed-border {
    padding-right: 20px;
  }
  .border-ctn {
    width: 40%;
    min-height: 50px;
    .dashed-border-top {
      border-bottom: 1px dashed grey;
      min-height: 25px;
    }
    .dashed-border-bottom {
      min-height: 25px;
    }
  }
  .completed-text-border {
    align-self: center;
    font-size: 1rem;
    font-style: italic;
    color: grey;
  }
}

.show-completed {
  display: none;
}
