.login-wrapper {
  width: 350px;

  p {
    font-size: 1rem;
    text-align: center;
    color: #898989;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      color: #414141;
      font-size: 1.4rem;
      margin-bottom: 5px;
    }

    input {
      border-radius: 2px;
      border: 1px solid lightgrey;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 1.4rem;
      &::placeholder {
        font-size: 1.1rem;
      }
    }
  }

  Button {
    font-size: 1rem;
  }
}
