.tabs {
  display: flex;
  font-size: 1rem;
  margin-left: 15px;
  div {
    font-size: 10px;
    margin-right: 20px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    color: grey;
    padding: 3px 0;
    &:hover {
      color: #071584;
    }
  }
  .mobile-only {
    display: none;
    @media (max-width: 800px) {
      display: block;
    }
  }
  .selected {
    color: #071584;
    border-bottom: 1px solid #071584;
  }
}
